<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.data.authors %}
        <ul class="contact-list">
        {% for author_hash in site.data.authors %}
          {% assign author = author_hash[1] %}
          {% if author.display_name -%}
            <li class="p-name">{{ author.display_name | escape }}</li>
          {% endif -%}
          {% if author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ author.email }}</a></li>
          {%- endif %}
        {% endfor %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
